<!DOCTYPE html>
<html>
<head>
	<title><%= module.id %> - <%=h config.project %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/material-wfont.min.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="javascript:void(0)"><%= module.id %> <%= if module.type do %>(<%= module.type %>)<% end %></a>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav navbar-right">
				<a class="navbar-brand" href="overview.html"><%=h config.project %> v<%=h config.version %></a>
			</ul>
		</div>
	</div>

	<div class="container-fluid main">
	<%= if module.moduledoc do %>
		<div class="panel panel-primary">
			<div class="panel-body">
				<%= to_html(module.moduledoc) %>
			</div>
		</div>
	<% end %>
	<%= if module.source do %>
		<a href="<%= module.source %>" class="view_source">Source</a>
	<% end %>

	<%= unless Enum.empty?(functions) and Enum.empty?(macros) do %>
	<h2 id="summary">Summary</h2>
	<div class="well">
		<table class="table table-striped table-hover ">
			<tbody>
				<%= for node <- Enum.sort(functions ++ macros, &(&1.id <= &2.id)), do: summary_template(node) %>
			</tbody>
		</table>
	</div>
	<% end %>

	<%= unless Enum.empty?(types) do %>
	<h2 id="types_details">Types</h2>
	<div class="list-group">
		<%= for node <- types, do: type_detail_template(node, module) %>
	</div>
	<% end %>

	<%= unless Enum.empty?(functions) do %>
		<h2 id="functions_details">Functions</h2>
		<%= for node <- functions, do: detail_template(node, module) %>
	<% end %>

	<%= unless Enum.empty?(macros) do %>
	<h2 id="macros_details">Macros</h2>
		<%= for node <- macros, do: detail_template(node, module) %>
	<% end %>

	<%= unless Enum.empty?(callbacks) do %>
	<h2 id="callbacks_details">Callbacks</h2>
		<%= for node <- callbacks, do: detail_template(node, module) %>
	<% end %>

	</div>
</body>
</html>
