<!DOCTYPE html>
<html>
<head>
	<title><%=h config.project %>README</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/material-wfont.min.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="javascript:void(0)"><%= config.project %> v<%= config.version %></a>
		</div>
	</div>

	<div class="container-fluid main">
		<div class="panel panel-primary">
			<div class="panel-body">
				<%= to_html(content) %>
			</div>
		</div>
	</div>
</body>
</html>
